<div v-bind:class="'shoutbox-wrapper ' + mode">
  <div class="shoutbox-widget">
    <div class="shoutbox-header">
      <div class="shoutbox-title">
        Shoutbox
        <button v-on:click="setMode('wide')" v-if="mode !== 'wide'" class="button expand" title="Expand" />
        <button v-else v-on:click="setMode('normal')" class="button contract" title="Contract" />
      </div>
      <div class="login-header">
        <template v-if="user !== true && user !== undefined">
          <div class="user-toggle" @click="userToggle">
            <div class="avatar" v-if="user.picture && user.picture.length > 0">
              <img :src="user.picture">
            </div>
            <div class="name">
            {{user.displayname}}
            </div>
          </div>
        </template>
        <div class="login-link" v-if="!user" @click="loginToggle">Přihlásit se</div>
        <div class="new-message-link" @click="submitToggle">Přidat vzkaz</div>
      </div>
      <template v-if="submitvisible && user">
        <sh-submit :user="user" :socket="getSocket()" :stream="id" :afterSubmit="afterSubmit" :renewCsrf="renewCsrf"/>
      </template>
      <template v-if="loginvisible && !user">
        <sh-login :socket="getSocket()"/>
      </template>
      <template v-if="uservisible && user">
        <sh-user :user="user" :socket="getSocket()"/>
      </template>
    </div>
    <div class="messages">
      <template v-if="page === 0">
        <div class="new-messages" v-if="newmessages.length > 0" v-on:click="mergeMessages">Zobrazit nové [{{newmessages.length}}]</div>
      </template>
      <template v-else>
        <div class="new-messages" v-if="newmessages.length > 0" v-on:click="jumpToStart">Zobrazit nové [{{newmessages.length}}]</div>
      </template>
      <sh-message v-for="(message, index) in messages" :data="message" :socket="getSocket()" :user="user" :stream="id" :afterSubmit="afterSubmit" :renewCsrf="renewCsrf" v-bind:data-index="index" v-bind:key="message.id"/>
      <template>
        <sh-pagination :page="page"/>
      </template>
    </div>
  </div>
</div>