<div class="shoutbox-wrapper {{mode}}">
  <div class="shoutbox-widget">
    <div class="shoutbox-header">
      <button v-on:click="setMode('wide')" v-if="mode !== 'wide'" class="button expand">
        Expand
      </button>
      <button v-else v-on:click="setMode('normal')" class="button contract">
        Contract
      </button>
      <template v-if="user">
        <sh-submit :user="user" />
      </template>
      <template v-else>
        <sh-login/>
      </template>
    </div>
    <div class="messages">
      <template v-if="page === 0">
        <div class="new-messages" v-if="newmessages.length > 0" v-on:click="mergeMessages">Zobrazit nové zprávy ({{newmessages.length}})</div>
      </template>
      <template v-else>
        <div class="new-messages" v-if="newmessages.length > 0" v-on:click="jumpToStart">Zobrazit nové zprávy ({{newmessages.length}})</div>
      </template>
      <sh-message v-for="message in messages" :data="message" track-by="id" transition="fade-in" stagger="50" />
    </div>
    <div class="pagination-wrapper">
      <sh-pagination :page="page" :count="messages ? messages.length : 0" />
    </div>
  </div>
</div>