<div v-bind:class="'shoutbox-wrapper ' + mode">
  <div class="shoutbox-underlay" v-if="mode === 'wide'"></div>
  <div class="shoutbox-widget">
    <div class="shoutbox-header">
      <div class="shoutbox-title">
        Shoutbox
        <div v-on:click="setMode('wide')" v-if="mode !== 'wide'" class="button expand" title="Expand" />
        <div v-else v-on:click="setMode('normal')" class="button contract" title="Contract" />
      </div>
      <div class="login-header">
        <template v-if="user !== true && user !== undefined">
          <div :class="{'user-toggle': true}" @click="userToggle">
            <div class="avatar" v-if="user.picture && user.picture.length > 0">
              <img :src="user.picture">
            </div>
            <div :class="{'name': true, 'active': uservisible}">
            {{user.displayname}}
            </div>
          </div>
        </template>
        <div :class="{'login-link': true, 'active': loginvisible}" v-if="!user" @click="loginToggle">Přihlásit se</div>
        <div :class="{'new-message-link': true, 'active': submitvisible}" @click="submitToggle">Přidat vzkaz</div>
      </div>
      <template v-if="submitvisible && user">
        <sh-submit :user="user" :socket="getSocket()" :stream="id" :afterSubmit="afterSubmit" :renewCsrf="renewCsrf"/>
      </template>
      <template v-if="loginvisible && !user">
        <sh-login :socket="getSocket()"/>
      </template>
      <template v-if="uservisible && user">
        <sh-user :user="user" :socket="getSocket()"/>
      </template>
    </div>
    <transition name="fade">
      <div class="alert-popup" v-if="alert && (!user || !user.editor)" @click="hideAlert">
        <div v-if="moderated">Vzkaz byl přidán a nyní čeká na schválení.</div>
        <div class="unmoderated" v-else>Vzkaz byl přidán!</div>
      </div>
    </transition>
    <div class="messages">
      <div class="new-messages" v-if="newmessages.length > 0" @click="mergeMessages">Zobrazit nové [{{newmessages.length}}]</div>
      <sh-message v-for="(message, index) in messages" :data="message" :socket="getSocket()" :user="user" :stream="id" :afterSubmit="afterSubmit" :renewCsrf="renewCsrf" v-bind:data-index="index" v-bind:key="message.id"/>
      <template v-if="messages.length > 9">
        <sh-pagination :page="page"/>
      </template>
    </div>
  </div>
</div>