$shoutbox-bg: #eee;
$wrapper-bg: #eee;
$header-title-bg: #fff;
$header-title-color: #73737f;
$login-header-bg: #73737f;
$login-header-color: #fff;
$panel-border: #aaa;
$message-bg: #fff;
$author-color: #000;
$author-handle-color: #555;
$text-color: #333;
$link-color: #2c6fb3;
$play-button-color: #fff;
$play-button-hover-color: #2c6fb3;
$error-color: #e22424;
$pagination-button-border: #aaa;
$pagination-button-bg: #fff;
$pagination-text-color: #333;
$wave-color: #cda100;
$meta-color: #9e9eaa;
$action-approve: #239c59;
$action-show: #239c59;
$action-reject: #cda100;
$action-hide: #cda100;
$action-delete: #d84040;
