$shoutbox-bg: #eee;
$wrapper-bg: #eee;
$header-title-bg: #000;
$header-title-color: #fff;
$login-header-bg: #cda100;
$login-header-color: #fff;
$panel-border: #aaa;
$message-bg: #fff;
$author-color: #000;
$author-handle-color: #555;
$text-color: #333;
$link-color: #2c6fb3;
$play-button-color: #2c6fb3;
$play-button-hover-color: #fff;