$bg: #e4e4e9;
$link: #2c6fb3;
$shoutbox-bg: $bg;
$wrapper-bg: $bg;
$float-panel: #efeef3;
$header-title-bg: #fff;
$header-title-color: #73737f;
$login-header-bg: #73737f;
$login-header-color: #fff;
$panel-border: #d6d6de;
$message-bg: #fff;
$author-color: #1a1a1e;
$author-handle-color: #555561;
$text-color: #383840;
$link-color: $link;
$play-button-color: #fff;
$play-button-hover-color: $link;
$error-color: #ca003a;
$pagination-button-border: #d6d6de;
$pagination-button-bg: #fff;
$pagination-text-color: $link;
$wave-color: #cda100;
$meta-color: #9e9ea9;
$action-approve: #009645;
$action-show: #009645;
$action-reject: #cda100;
$action-hide: #cda100;
$action-delete: #ca003a;
