$shoutbox-bg: #fff;
$wrapper-bg: #eee;

body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

.shoutbox-wrapper {
  display: block;
  float: left;
  position: relative;
  transition: width 0.5s ease, margin-left 0.5s ease, margin-right 0.5s ease;
  width: 300px;

  .shoutbox-widget {
    background: $shoutbox-bg;
    display: table;
    float: left;
    margin: auto;
    padding: 0;
    width: 100%;
  }

  &.wide {
    background: $wrapper-bg;
    margin: -10px 0 -10px -460px;
    padding: 10px;
    width: 750px;
    z-index: 5000;
  }
}

.message {
  clear: left;
  float: left;
  font-size: 0.9em;
  margin: 0 0 10px;
  width: 100%;

  .photo {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 70px;
    width: 100px;
  }

  .video {
    img {
      cursor: pointer;
      max-width: 100%;
    }

    video {
      max-width: 100%;
    }
  }

  .iframe-container {
    clear: left;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 35px;
    position: relative;

    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.avatar {
  clear: left;
  float: left;
  margin: 0 5px 0 0;
  width: 32px;

  img {
    float: left;
    height: 32px;
    width: 32px;
  }
}

.author {
  float: left;
  margin: 0 0 10px;

  .name {
    clear: left;
    float: left;
    font-size: 1em;
    font-weight: bold;
  }

  .handle {
    clear: left;
    float: left;
    font-size: 0.8em;
  }
}

.text-wrapper {
  display: block;
  float: left;
}

.text {
  clear: left;
  float: left;
}

.meta {
  clear: left;
  display: block;
  float: left;

  .likes,
  .shares {
    float: left;
    margin-right: 5px;
  }
}

.fade-in-transition {
  height: auto;
  opacity: 1;
  transition: all 1s ease;
}

.fade-in-enter,
.fade-in-leave {
  height: 0;
  opacity: 0;
}

.button.contract,
.button.expand {
  float: right;
}