<div class="embed">
  <div v-if="type === 'photo'">
    <sh-image class="photo-single" :thumb="data.thumbnail_url" :img="data.thumbnail_url" :width="data.thumbnail_width" :height="data.thumbnail_height" />
    <span class="media-caption" :href="data.url">{{data.title}}</span>
    <a class="media-host" :href="data.author_url" target="_blank">
      Zdroj: {{data.author_name}} ({{data.provider_name}})
    </a>
  </div>
  <div v-if="type === 'html'" class="media iframe-container" :style="data.style" v-html="data.html" />
  <div v-if="type === 'inspector'" class="media">
    <span v-if="data.image" class="media-image" :style="{'background-image':  'url(' + data.image + ')'}"></span>
    <div class="embed-right">
      <a class="media-title" :href="data.url" target="_blank">
        {{data.title}}
      </a>
      <div class="media-description">
        {{data.description}}
      </div>
    </div>
    <a class="media-host" :href="data.rooturl" target="_blank">
      Zdroj: {{data.host}}
    </a>
  </div>
  <div v-if="type === 'facebook' && data.images">
    <sh-image class="photo-single" :thumb="data.images[3].source" :img="data.images[0].source" :width="data.images[0].width" :height="data.images[0].height" />
    <a class="media-caption" :href="data.url">{{data.title}}</a>
    <a class="media-host" :href="data.author_url" target="_blank">
      Zdroj: {{data.author_name}} ({{data.provider_name}})
    </a>
  </div>
</div>