<div class="embed">
  <div v-if="type === 'photo'">
    <icon class="quote" name="material-format_quote" v-if="data.title"></icon>
    <blockquote class="insert-html" v-if="data.title">{{data.title}}</blockquote>
    <div class="separator" />
    <sh-image class="photo-single" :thumb="data.thumbnail_url" :img="data.thumbnail_url" :width="data.thumbnail_width" :height="data.thumbnail_height" />
    <a class="media-host" :href="data.author_url" target="_blank">
      Zdroj: {{data.author_name}} ({{data.provider_name}})
    </a>
  </div>
  <div v-if="type === 'html'" class="media iframe-container" :style="data.style" v-html="data.html" />
  <div v-if="type === 'inspector'" class="media">
    <span v-if="data.image && !data.host.includes('giphy')" class="media-image" :style="{'background-image':  'url(' + data.image + ')'}"></span>
    <div v-if="!data.host.includes('giphy')" class="embed-right">
      <a class="media-title" :href="data.url" target="_blank">
        {{data.title}}
      </a>
      <div class="media-description">
        {{data.description}}
      </div>
    </div>
    <img v-if="data.host.includes('giphy')" class="giphy" :src="data.image"/>
    <a class="media-host" :href="data.url" target="_blank">
      Zdroj: {{data.host}}
    </a>
  </div>
  <div v-if="type === 'facebook' && data.type === 'photo'">
    <icon class="quote" name="material-format_quote" v-if="data.title"></icon>
    <blockquote class="insert-html" v-if="data.title">{{data.title}}</blockquote>
    <div class="separator" />
    <sh-image class="photo-single" :thumb="data.image" :img="data.image" :width="data.width" :height="data.height" />
    <a class="media-host" :href="data.url" target="_blank">
      Zdroj: {{data.author_name}} ({{data.provider_name}})
    </a>
  </div>
  <div v-if="type === 'facebook' && ['link', 'share'].indexOf(data.type) > -1" class="media">
    <icon class="quote" name="material-format_quote" v-if="data.title"></icon>
    <blockquote class="insert-html" v-if="data.title">{{data.title}}</blockquote>
    <div class="separator" />
    <span v-if="data.image" class="media-image" :style="{'background-image':  'url(' + data.image + ')'}"></span>
    <div class="embed-right">
      <a class="media-title" :href="data.link_url" target="_blank">
        {{data.link_title}}
      </a>
      <div class="media-description">
        {{data.link_description}}
      </div>
    </div>
    <a v-if="data.type === 'link'" class="media-host" :href="data.url" target="_blank">
      Zdroj: {{data.author_name}} ({{data.provider_name}})
    </a>
    <a v-if="data.type === 'share'" class="media-host" :href="data.url" target="_blank">
      Zdroj: {{getHostname(data.url)}}
    </a>
  </div>
  <div v-if="type === 'facebook' && data.text">
    <icon class="quote" name="material-format_quote"></icon>
    <blockquote>{{data.text}}</blockquote>
    <a class="media-host" :href="data.url" target="_blank">
      Zdroj: {{data.author_name}} ({{data.provider_name}})
    </a>
  </div>
  <div v-if="type === 'facebook' && data.html">
    <icon class="quote" name="material-format_quote" v-if="data.title"></icon>
    <blockquote class="insert-html" v-if="data.title">{{data.title}}</blockquote>
    <div class="separator" />
    <div v-if="data.type === 'youtube'" class="media iframe-container" :style="data.style" v-html="data.html" />
    <sh-facebook-video v-if="data.type === 'video'" :video="{height: data.height, width: data.width, embed_html: data.html, picture: data.image}"/>
    <a class="media-host" :href="data.url" target="_blank">
      Zdroj: {{data.author_name}} ({{data.provider_name}})
    </a>
  </div>
  <div v-if="type === 'facebook' && data.animated" class="media">
    <img v-if="data.host.includes('giphy')" class="giphy" :src="data.animated"/>
    <a class="media-host" :href="data.url" target="_blank">
      Zdroj: {{data.host}}
    </a>
  </div>
  <template v-if="type === 'facebook' && data.type === 'album'">
    <a class="media-title" :href="data.link_url" target="_blank">
      {{data.link_title}}
    </a>
    <div class="media-description">
      {{data.link_description}}
    </div>
    <div class="media">
      <template v-if="data.media">
        <template v-if="data.media.length === 1">
          <sh-image
            :thumb="data.media[0][photo.images.length-1].source"
            :img="data.media[0].source"
            :width="data.media[0].width"
            :height="data.media[0].height"
            position="full"/>
        </template>
        <template v-if="data.media.length === 2">
          <template v-for="(item, index) in data.media">
            <sh-image
              :thumb="item[photo.images.length-1].source"
              :img="item.source"
              :width="item.width"
              :height="item.height"
              position="left"/>
          </template>
        </template>
        <template v-if="data.media.length >= 3">
          <sh-image
            :thumb="data.media[0][photo.images.length-1].source"
            :img="data.media[0].source"
            :width="data.media[0].width"
            :height="data.media[0].height"
            position="left"/>
          <div class="photo-wrap-right">
            <sh-image
              :thumb="data.media[1][photo.images.length-1].source"
              :img="data.media[1].source"
              :width="data.media[1].width"
              :height="data.media[1].height"
              position="right"/>
            <sh-image
              :thumb="data.media[2][photo.images.length-1].source"
              :img="data.media[2].source"
              :width="data.media[2].width"
              :height="data.media[2].height"
              position="right"/>
          </div>
        </template>
      </template>
    </div>
    <a class="media-host" :href="data.url" target="_blank">
      Zdroj: {{data.author_name}} ({{data.provider_name}})
    </a>
  </template>
  <div v-if="type === 'twitter'">
    <icon class="quote" name="material-format_quote"></icon>
    <blockquote class="insert-html" v-html="filtered" />
    <a class="media-host" :href="data.url" target="_blank">
      Zdroj: {{data.author_name}} ({{data.provider_name}})
    </a>
  </div>
</div>