<div class="embed">
  <div v-if="type === 'photo'">
    <span class="media-caption" :href="data.url">{{data.title}}</span>
    <sh-image class="photo-single" :thumb="data.thumbnail_url" :img="data.thumbnail_url" :width="data.thumbnail_width" :height="data.thumbnail_height" />
    <a class="media-host" :href="data.author_url" target="_blank">
      Zdroj: {{data.author_name}} ({{data.provider_name}})
    </a>
  </div>
  <div v-if="type === 'html'" class="media iframe-container" :style="data.style" v-html="data.html" />
  <div v-if="type === 'inspector'" class="media">
    <span v-if="data.image && !data.host.includes('giphy')" class="media-image" :style="{'background-image':  'url(' + data.image + ')'}"></span>
    <div v-if="!data.host.includes('giphy')" class="embed-right">
      <a class="media-title" :href="data.url" target="_blank">
        {{data.title}}
      </a>
      <div class="media-description">
        {{data.description}}
      </div>
    </div>
    <img v-if="data.host.includes('giphy')" :src="data.image"/>
    <a class="media-host" :href="data.rooturl" target="_blank">
      Zdroj: {{data.host}}
    </a>
  </div>
  <div v-if="type === 'facebook' && data.type === 'photo'">
    <sh-image class="photo-single" :thumb="data.image" :img="data.image" :width="data.width" :height="data.height" />
    <a class="media-caption" :href="data.url">{{data.title}}</a>
    <a class="media-host" :href="data.author_url" target="_blank">
      Zdroj: {{data.author_name}} ({{data.provider_name}})
    </a>
  </div>
  <div v-if="type === 'facebook' && data.type === 'link'" class="media">
    <a class="media-caption" :href="data.url">{{data.title}}</a>
    <span v-if="data.image" class="media-image" :style="{'background-image':  'url(' + data.image + ')'}"></span>
    <div class="embed-right">
      <a class="media-title" :href="data.link_url" target="_blank">
        {{data.link_title}}
      </a>
      <div class="media-description">
        {{data.link_description}}
      </div>
    </div>
    <a class="media-host" :href="data.author_url" target="_blank">
      Zdroj: {{data.author_name}} ({{data.provider_name}})
    </a>
  </div>
  <div v-if="type === 'facebook' && data.text">
    <icon class="quote" name="material-format_quote"></icon>
    <blockquote>{{data.text}}</blockquote>
    <a class="media-host" :href="data.author_url" target="_blank">
      Zdroj: {{data.author_name}} ({{data.provider_name}})
    </a>
  </div>
  <div v-if="type === 'facebook' && data.html">
    <a class="media-caption" :href="data.url">{{data.title}}</a>
    <div v-if="data.type === 'youtube'" class="media iframe-container" :style="data.style" v-html="data.html" />
    <sh-facebook-video v-if="data.type === 'video'" :video="{height: data.height, width: data.width, embed_html: data.html, picture: data.image}"/>
    <a class="media-host" :href="data.author_url" target="_blank">
      Zdroj: {{data.author_name}} ({{data.provider_name}})
    </a>
  </div>
  <div v-if="type === 'twitter'">
    <icon class="quote" name="material-format_quote"></icon>
    <blockquote class="insert-html" v-html="filtered" />
    <a class="media-host" :href="data.author_url" target="_blank">
      Zdroj: {{data.author_name}} ({{data.provider_name}})
    </a>
  </div>
</div>