<div class="login-root">
  <div class="login-options">
    <span class="login-choose"><template v-if="loginFirst">Nejprve se musíte přihlásit!</template> Vyberte službu.</span>
    <div @click="facebookLogin" class="login-option"><div class="login-icon fb"></div>Facebook</div>
    <div @click="twitterLogin" class="login-option"><div class="login-icon tw"></div>Twitter</div>
    <div @click="instagramLogin" class="login-option"><div class="login-icon ig"></div>Instagram</div>
    <div @click="soundcloudLogin" class="login-option"><div class="login-icon sc"></div>Soundcloud</div>
    <div @click="emailLogin" class="login-option"><div class="login-icon mail"></div>Rozhlasový účet</div>
  </div>
  <div class="float-panel email-login" v-show='form'>
    <div class="az"></div>
      <div class="form-login" v-if="page === 'login'">
        <form novalidate>
          <div class="input-wrapper">
            <label for="email">E-mail</label>
            <input type="email" id="email" v-model="email" name="email" v-validate data-vv-rules="required|email" :class="{'invalid': errors.has('email')}"/>
          </div>
          <div class="input-wrapper">
            <label for="password">Heslo</label>
            <input type="password" id="password" v-model="password" name="password" v-validate data-vv-rules="required|min:8" :class="{'invalid': errors.has('password')}"/>
          </div>
          <div class="error" v-if="error">{{error}}</div>
        </form>
        <button @click="login" :disabled="errors.count() > 0 || email.length == 0 || password.length == 0" class="button">Přihlásit se</button>
        <div class="links">
          <span class="link" @click="switchRegister">Registrace</span>
          <!-- <span class="separator link">|</span>
          <span class="link" @click="switchForgotten">Zapomenuté heslo</span> -->
        </div>
      </div>
      <div class="form-register" v-if="page === 'register'">
        <div class="input-wrapper">
          <label for="name">Přezdívka</label>
          <input type="text" id="name" v-model="name" name="name" v-validate data-vv-rules="required" :class="{'invalid': errors.has('name')}"/>
        </div>
        <div class="input-wrapper">
          <label for="email">E-mail</label>
          <input type="email" id="email" v-model="email" name="email" v-validate data-vv-rules="required|email" :class="{'invalid': errors.has('email')}"/>
        </div>
        <div class="input-wrapper">
          <label for="password">Heslo</label>
          <input type="password" id="password" v-model="password" name="password" v-validate data-vv-rules="required|min:8" :class="{'invalid': errors.has('password')}"/>
        </div>
        <div class="input-wrapper">
          <label for="password">Kontrola hesla</label>
          <input type="password" id="reentered-password" v-model="reenteredPassword" name="reenteredPassword" v-validate data-vv-rules="required|min:8" :class="{'invalid': errors.has('reenteredPassword')}"/>
        </div>
        <div class="error" v-show="!matchPassword">Heslo se neshoduje</div>
        <div class="error" v-show="!passwordLength">Heslo musí být aspoň 8 znaků dlouhé</div>
        <div class="error" v-if="error">{{error}}</div>
        <button @click="register" :disabled="errors.count() > 0 || email.length == 0 || password.length == 0 || reenteredPassword.length == 0 || name.length == 0" class="button">Zaregistrovat</button>
        <div class="links">
          <div class="link" @click="switchLogin">Přihlásit přes existující účet</div>
        </div>
      </div>
      <div class="form-login" v-if="page === 'forgotten'">
        <div class="input-wrapper">
          <label for="email">Zadejte e-mail</label>
          <input type="email" id="email" v-model="email" name="email" v-validate.initial data-vv-rules="required|email" :class="{'invalid': errors.has('email')}"/>
        </div>
        <div class="message">Na Váš e-mail bude zaslál odkaz na obnovení hesla.</div>
        <div class="error" v-if="error">{{error}}</div>
        <div @click="resetPassword" :disabled="errors.count() > 0" class="button">Resetovat heslo</div>
        <div class="links">
          <span class="link" @click="switchLogin">Přihlášení</span>
          <span class="separator link">|</span>
          <span class="link" @click="switchRegister">Registrace</span>
        </div>
      </div>
  </div>
</div>