<div class="login-root">
  <div class="login-options">
    <span class="login-choose">Vybrat službu</span>
    <button @click="soundcloudLogin" class="login-option sc">Soundcloud</button>
    <button @click="instagramLogin" class="login-option ig">Instagram</button>
    <button @click="twitterLogin" class="login-option tw">Twitter</button>
    <button @click="facebookLogin" class="login-option fb">Facebook</button>
    <button @click="emailLogin" class="login-option email">E-mail</button>
  </div>
  <div class="float-panel email-login" v-show='form'>
    <div class="az"></div>
    <validation name="validation1">
      <div class="form-login" v-if="page === 'login'">
        <div class="input-wrapper">
          <label for="sh-email">E-mail</label>
          <validity field="sh-email" :validators="{required: true, email: true}">
            <input type="email" id="sh-email" v-model="email" @input="handleValidate" @focusout="handleValidate"/>
          </validity>
        </div>
        <div class="input-wrapper">
          <label for="sh-password">Heslo</label>
          <validity field="sh-password" :validators="{required: true}">
            <input type="password" id="sh-password" v-model="password" @input="handleValidate" @focusout="handleValidate"/>
          </validity>
        </div>
        <div class="error" v-if="error">{{error}}</div>
        <button @click="login" :disabled="$validation.validation1 === undefined || !$validation.validation1.touched || !$validation.validation1.valid">Přihlásit se</button>
        <div class="links">
          <span class="link" @click="switchRegister">Registrace</span>
          <!-- <span class="separator link">|</span>
          <span class="link" @click="switchForgotten">Zapomenuté heslo</span> -->
        </div>
      </div>
      <div class="form-register" v-if="page === 'register'">
        <div class="input-wrapper">
          <label for="sh-name">Jméno</label>
          <validity field="sh-name" :validators="{required: true}">
            <input type="text" id="sh-name" v-model="name" initial="off" @input="handleValidate" @focusout="handleValidate"/>
          </validity>
        </div>
        <div class="input-wrapper">
          <label for="sh-email">E-mail</label>
          <validity field="sh-email" :validators="{required: true, email: true}">
            <input type="email" id="sh-email" v-model="email" initial="off" @input="handleValidate" @focusout="handleValidate"/>
          </validity>
        </div>
        <div class="input-wrapper">
          <label for="sh-password">Heslo</label>
          <validity field="sh-password" :validators="{required: true}">
            <input type="password" id="sh-password" v-model="password" initial="off" @input="handleValidate" @focusout="handleValidate"/>
          </validity>
        </div>
        <div class="input-wrapper">
          <label for="sh-password">Kontrola hesla</label>
          <validity field="sh-reentered-password" :validators="{required: true}">
            <input type="password" id="sh-reentered-password" v-model="reenteredPassword" initial="off" @input="handleValidate" @focusout="handleValidate"/>
          </validity>
        </div>
        <div class="error" v-show="!matchPassword">Heslo se neshoduje</div>
        <div class="error" v-show="!passwordLength">Heslo musí být aspoň 8 znaků dlouhé</div>
        <div class="error" v-if="error">{{error}}</div>
        <button @click="register" :disabled="!$validation.validation1 || !$validation.validation1.touched || !$validation.validation1.valid">Zaregistrovat</button>
        <div class="links">
          <div class="link" @click="switchLogin">Přihlásit přes existující účet</div>
        </div>
      </div>
      <div class="form-login" v-if="page === 'forgotten'">
        <div class="input-wrapper">
          <label for="sh-email">Zadejte e-mail</label>
          <validity field="sh-email" :validators="{required: true, email: true}">
            <input type="email" id="sh-email" v-model="email" initial="off" @focusout="handleValidate" @input="handleValidate"/>
          </validity>
        </div>
        <div class="message">Na Váš e-mail bude zaslál odkaz na obnovení hesla.</div>
        <div class="error" v-if="error">{{error}}</div>
        <button @click="resetPassword" :disabled="!$validation.validation1 || !$validation.validation1.valid">Resetovat heslo</button>
        <div class="links">
          <span class="link" @click="switchLogin">Přihlášení</span>
          <span class="separator link">|</span>
          <span class="link" @click="switchRegister">Registrace</span>
        </div>
      </div>
    </validation>
  </div>
</div>