<div class="login">
  <button @click="facebookLogin">Facebook</button>
  <button @click="twitterLogin">Twitter</button>
  <button @click="instagramLogin">Instagram</button>
  <button @click="soundcloudLogin">Soundcloud</button>
  <button @click="emailLogin">E-mail</button>
</div>
<validator name="validator">
  <div class="login-form" v-if='form'>
    <h3 class="{loginPage ? 'active' : 'inactive'}" @click="switchLogin">Přihlášení</h3>
    <h3 class="{!loginPage ? 'active' : 'inactive'}" @click="switchRegister">Registrace</h3>
    <div class="form-login" v-if='loginPage'>
      <div class="input-wrapper">
        <label for="sh-email">E-mail</label>
        <input type="email" id="sh-email" v-model="email" v-validate="required: true" />
      </div>
      <div class="input-wrapper">
        <label for="sh-password">Heslo</label>
        <input type="password" id="sh-password" v-model="password" v-validate="required: true" />
      </div>
      <button v-on:click="login">Přihlásit se</button>
    </div>
    <div class="form-register" v-else>
      <div class="input-wrapper">
        <label for="sh-name">Jméno</label>
        <input type="text" id="sh-name" v-model="name" v-validate="required: true" />
      </div>
      <div class="input-wrapper">
        <label for="sh-email">E-mail</label>
        <input type="email" id="sh-email" v-model="email" v-validate="required: true" />
      </div>
      <div class="input-wrapper">
        <label for="sh-password">Heslo</label>
        <input type="password" id="sh-password" v-model="password" v-validate="required: true" />
      </div>
      <div class="input-wrapper">
        <label for="sh-password">Kontrola hesla</label>
        <input type="password" id="sh-reentered-password" v-model="reenteredPassword" v-validate="required: true" />
      </div>
      <div class="error" v-show="matchPassword">Heslo se nezhoduje</div>
      <button v-on:click="register">Dokončit registraci</button>
    </div>
  </div>
</validator>