<div class="message-root">
  <div class="author">
    <div class="avatar">
      <a v-bind:href="author.url" target="_blank">
        <img :src="author.picture" />
      </a>
    </div>
    <div class="author-name">
      <span class="name"><a v-bind:href="author.url" target="_blank">{{author.name}}</a></span>
      <span class="date"><a v-bind:href="link" target="_blank">{{data.created | date}}</a></span>
    </div>
  </div>
  <div class="text-wrapper">
    <div class="text">
      <template v-for="(item, index) in text">
        <template v-if="item.entity === null">
          {{item.text}}
        </template>
        <template v-else>
          <a v-if="item.entity.entity_type === 'hashtags'"
            v-bind:href="'https://twitter.com/hashtag/' + item.entity.text"
            class="twitter-hashtag" target="_blank">{{item.text}}</a>
          <a v-if="item.entity.entity_type === 'user_mentions'"
            v-bind:href="'https://twitter.com/' + item.entity.screen_name"
            class="twitter-mention" target="_blank"
            title="item.entity.name">{{item.text}}</a>
          <a v-if="item.entity.entity_type === 'urls'"
            v-bind:href="item.entity.expanded_url"
            class="twitter-entity" target="_blank">{{item.entity.display_url}}</a>
          <a v-if="item.entity.entity_type === 'media'"
            v-bind:href="item.entity.expanded_url"
            class="twitter-entity" target="_blank">{{item.entity.display_url}}</a>
        </template>
      </template>
    </div>
    <div class="media" v-if="mediatype !== 'none'">
      <template v-if="mediatype == 'video'">
        <template v-for="video in extended">
          <sh-twitter-video :variants="video.video_info.variants" :img="video.media_url_https"/>
        </template>
      </template>
      <template v-if="mediatype == 'gallery'">
        <template v-for="photo in extended">
          <sh-image :thumb="photo.media_url_https" :img="photo.media_url_https" :width="photo.sizes.large.w" :height="photo.sizes.large.h"/>
        </template>
      </template>
      <template v-if="mediatype == 'photo'">
        <template v-for="photo in extended">
          <sh-image class="photo-single" :thumb="photo.media_url_https" :img="photo.media_url_https" :width="photo.sizes.large.w" :height="photo.sizes.large.h"/>
        </template>
      </template>
      <template v-if="mediatype == 'youtube'">
        <div class="iframe-container" :style="oembed.style" v-html="oembed.html" />
      </template>
    </div>
  </div>
  <div class="meta">
    <a class="link" v-bind:href="link" target="_blank"><icon name="material-link"></icon></a>
    <a v-bind:href="link" target="_blank" v-if="shares > 0" class="shares"><span>{{shares}}</span><icon name="material-repeat"></icon></a>
    <a v-bind:href="link" target="_blank" v-if="likes > 0" class="likes"><span>{{likes}}</span><icon name="material-star"></icon></a>
    <a v-bind:href="link" target="_blank" v-if="replies > 0" class="replies"></span>{{replies}}</span><icon name="material-reply"></icon></a>
  </div>
</div>