<div v-bind:class="'message ' + type">
  <template v-if="type == 'shout'">
    <sh-message-shout :data="data" :feed-type="data.feedType" :socket="socket"/>
  </template>
  <template v-if="type == 'twitter'">
    <sh-message-twitter v-if="type == 'twitter'" :data="data" :socket="socket"/>
  </template>
  <template v-if="type == 'facebook'">
    <sh-message-facebook v-if="type == 'facebook'" :data="data" :socket="socket"/>
  </template>
  <div class="reply-messages" v-if="data.relatedMessage && data.relatedMessage.length > 0">
    <sh-message v-for="(message, index) in data.relatedMessage" :data="message" :socket="getSocket()" v-bind:data-index="index" v-bind:key="message.id"/>
  </div>
</div>