<div class="message-admin-root">
  <div class="message-admin" v-if="user">
    <template v-if="user.editor">
      <div class="published button" v-if="data.published" @click="unpublish()">
        <icon name="material-block"></icon>
      </div>
      <div class="not-published button" v-else @click="publish()">
        <icon name="material-check"></icon>
      </div>

      <div class="reviewed button" v-if="data.reviewed" @click="unreview()">
        <icon name="material-visibility_off"></icon>
      </div>
      <div class="not-reviewed button" v-else @click="review()">
        <icon name="material-visibility"></icon>
      </div>
    </template>
  </div>
</div>