<div :class="{'message-root': true, 'admin': feedType == 'admin'}">
  <div class="author">
    <div class="avatar">
      <img :src="author.picture" />
    </div>
    <div class="author-name">
      <span class="name">{{author.name}}</span>
      <span class="date">{{data.created | date}}</span>
    </div>
  </div>
  <div class="text-wrapper">
    <div class="text" v-html="text" v-linkified:options="{ className: 'link' }"/>
    <div class="media" v-if="mediatype === 'photo'">
      <sh-image class="photo-single" :thumb="extended.medium.path" :img="extended.original.path" :width="extended.large.width" :height="extended.large.height"/>
    </div>
    <sh-embed v-if="mediatype == 'embed'" :data="oembed"/>
  </div>
</div>