<div class="message-root">
  <div class="author">
    <div class="avatar">
      <img :src="author.picture" />
    </div>
    <div class="author-name">
      <span class="name"><a v-bind:href="author.url" target="_blank">{{author.name}}</a></span>
      <span class="date">{{data.created | date}}</span>
    </div>
  </div>
  <div class="text-wrapper">
    <div class="text" v-html="text" v-linkified:options="{ className: 'link' }"/>
    <div class="media" v-if="media && media.length > 0 && media[0].type !== 'video_inline'">
      <template v-for="m in media">
        <a class="media-title" v-if="m.title && !['photo','share'].includes(m.type)" target="_blank" :href="m.url">{{m.title}}</a>
        <sh-image v-if="m.type === 'photo' && m.media.image"
          class="photo-single"
          :thumb="m.media.image.src"
          :img="m.media.image.src"
          :width="m.media.image.width"
          :height="m.media.image.height"/>
        <template v-if="m.subattachments">
          <template v-for="(item, index) in m.subattachments.data">
            <sh-image v-if="item.media && item.media.image && index <= 4"
              :thumb="item.media.image.src"
              :img="item.media.image.src"
              :width="item.media.image.width"
              :height="item.media.image.height"/>
          </template>
        </template>
        <sh-embed v-if="m.type === 'share'" :data="m"/>
        <sh-embed v-if="m.type === 'oembed'" :data="m.oembed"/>
      </template>
    </div>
    <sh-embed v-if="mediatype === 'embed'" :data="oembed"/>
    <template v-if="video && video.format">
      <sh-facebook-video :video="{
        embed_html: video.format[3].embed_html,
        filter: video.format[3].filter,
        height: video.format[3].height,
        width: video.format[3].width,
        picture: video.format[2].picture
      }"/>
    </template>
  </div>
</div>