<div :class="{'submit-root': true, 'submit-reply': parentId !== undefined}">
  <div class="float-panel submit-message">
    <div class="az"></div>
    <template v-if="!loading">
      <transition name="fade">
        <div class="form">
          <form novalidate>
            <textarea name="message" v-model="message"></textarea>
            <input type="file" ref="upload" name="upload" accept="image/*" @change="onFileChange" class="field-image-input" v-validate data-vv-rules="image"/>
            <div :class="{'field-image': true, 'invalid': errors.errors.find(f => f.field === 'upload')}">
              <div class="field-image-button" v-if="!file" @click="selectFile()">
                <icon name="material-add_a_photo"></icon>
              </div>
              <div class="field-image-remove" v-if="file" @click="removeFile()">
                <icon name="material-remove_circle_outline"></icon>
              </div>
              <img v-if="image" :src="image" class="field-image-image"/>
              <div v-if="errors.errors.find(f => f.field === 'upload')" class="error">Soubor musí být obrázek</div>
            </div>
          </form>
          <div class="error" v-if="error">{{error}}</div>
          <button v-on:click="postMessage" class="button" :disabled="!(message && message.trim().length > 0 && errors.errors.length === 0)">Odeslat</button>
        </div>
      </transition>
    </template>
    <template v-else>
      <transition name="fade">
        Odesílám...
      </transition>
    </template>
  </div>
</div>