@import '../../styles/variables';

.embed {
  clear: left;
  float: left;
  margin-top: 10px;
  width: 100%;

  .media, .video {
    margin-top: 0px;
  }

  .media-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 100px;
  }

  .embed-right {
    display: block;
    margin-left: 10px;
    width: calc(100% - 110px);
  }

  .media-title {
    color: $text-color;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 1em;
    max-height: 2em;
    overflow: hidden;
  }

  .media-description {
    font-size: 12px;
    color: $author-handle-color;
    line-height: 1em;
    max-height: 4em;
    overflow: hidden;
  }

  a {
    cursor: pointer;
  }

  a.media-caption, .media-caption {
    color: $text-color;
    font-size: 12px;
    float: left;
    clear: left;
  }

  a.media-host {
    color: $author-handle-color;
    clear: left;
    float: left;
    font-size: 12px;
    margin-top: 5px;
  }

  .giphy {
    display: block;
    height: 100%;
    width: 100%;
  }

  .separator {
    display: block;
    float: left;
    width: 100%;
    height: 10px;
  }
}