@import '../../styles/variables';

.message-admin {
  color: $text-color;
  float: right;
  font-size: 13px;

  .button {
    cursor: pointer;
    float: left;
    padding: 2px;
    margin: 1px;
    border: 1px solid $panel-border;

    &:hover {
      background: $text-color;
      color: $panel-border;
    }
  }
}