@import '../../styles/variables';

.pagination-wrapper {
  display: block;
  float: left;
  width: 100%;
}

.pagination {
  display: block;

  button {
    border: 0;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    margin: auto;
    padding: 5px 0;
    width: 100%;
  }
}